{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<cart-items class="page-width{% if cart == empty %} is-empty{% endif %}">
  <h1 class="cart__title">{{ 'sections.cart.title' | t }}</h1>
  <!--<a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>-->
  <div class="divider"></div>
  <div class="cart__warnings">
    <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="button">
      {{ 'general.continue_shopping' | t }}
    </a>

    {%- if shop.customer_accounts_enabled -%}
    <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
    <p class="cart__login-paragraph">
      {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
    </p>
    {%- endif -%}
  </div>

  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
    <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents">
        {%- if cart != empty -%}

        <div class="cart-container">
          <div class="cart-main">
            {%- for item in cart.items -%}
            <div class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
              <div class="cart-item__info">
                <div class="cart-item__img">
                  {% if item.image %}
                  {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                  <img class="cart-item__image"
                       src="{{ item.image | img_url: '300x' }}"
                       alt="{{ item.image.alt | escape }}"
                       loading="lazy"
                       width="150"
                       height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                  >
                  {% else %}
                  <div class="img-placeholder"></div>
                  {% endif %}

                </div>
                <div class="cart-item__desc">
                  <h3><a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a></h3>
                  {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                  {%- if item.product.has_only_default_variant == false -%}
                  {%- for option in item.options_with_values -%}
                  <p>{{ option.name }}:  {{ option.value }}</p>
                  {%- endfor -%}
                  {%- endif -%}
                  {% endif %}

                  <div class="options">
                    <select name="quantity">
                      <option value="{{ item.quantity }}">{{ item.quantity }}</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <div class="subscribe-check">
                      <input type="checkbox" id="subscribe"><label for="subscribe">Subscribe and save</label>
                    </div>
                  </div>

                </div>
              </div>

              <div class="cart-item__action">
                <div class="price">
                  {{ item.original_line_price | money }}
                </div>
                <div class="actions-panel">
                  <a href="">Edit</a>

                  <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                    <a href="{{ item.url_to_remove }}" class="" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                      Remove
                    </a>
                  </cart-remove-button>

                </div>
              </div>
            </div>
            {%- endfor -%}
          </div>

          <div class="cart-sidebar">
            <div class="cart-sidebar__content">
              <h2>Summary</h2>
              <details class="promo-code">
                <summary><strong>Do you have a promo code?<span style="transform: rotate(90deg);">❯</span></strong></summary>
                <input type="text" placeholder="PROMO CODE" id="promocode"><label for="promocode">Apply</label>
              </details>
              <div class="order-summary">
                <span><span>{{ 'sections.cart.subtotal' | t }}</span><span>{{ cart.total_price | money_with_currency }}</span></span>
                <span><span>Shipping</span><span>FREE</span></span>

                {%- if cart.cart_level_discount_applications.size > 0 -%}
                <span><span>Discount</span><span>(-{{ discount.total_allocated_amount | money }})</span></span>
                {%- endif -%}

                <strong class="total">
                  <span>Total</span><span>{{ cart.total_price | money_with_currency }}</span>
                </strong>

              </div>
              <button type="submit" id="checkout" class="cart__checkout-btn" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                {{ 'sections.cart.checkout' | t }}
              </button>
              <small class="tax-note caption-large rte">
                {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- elsif cart.taxes_included -%}
                {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                {%- else -%}
                {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                {%- endif -%}
              </small>

              {%- if additional_checkout_buttons -%}
              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>

        {%- endif -%}
      </div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </form>
</cart-items>

{% schema %}
{
"name": "t:sections.main-cart-items.name",
"settings": [
{
"type": "checkbox",
"id": "show_vendor",
"default": false,
"label": "t:sections.main-cart-items.settings.show_vendor.label"
}
]
}
{% endschema %}
